{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/c1.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/fonts.css' %}">
</head>
<body>
    <center>
        <h1>SPECIFIC STATIC FOLDER</h1>
        <img src="{% static 'images/AA-MSD-JC.jpg' %}" height="500px" width="300px">
        <img src="{% static 'images/pc1.jpg' %}" height="500px" width="300px">
    </center>
</body>
</html>